
@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedThin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Fixed SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaFixedSS13-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaFixedSS13-ExtendedHeavyItalic.ttf') format('truetype');
}
